 @import url(./variables.css);

 button{
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 2px;
    border-style: none;
    color:var(--blackcolor);
    background-color: #F8F9FA;
    height: 25px;
    width: 150px;
  }

  button:hover{
    cursor:pointer;
    border-width: 0.25px;
    border-color: #e6e6e7;
    box-shadow: 0.25px 0.25px 0.25px 0.25px rgba(192, 192, 192, 0.5),
    -0.25px -0.25px 0.25px 0.25px rgba(192, 192, 192, 0.5);
  }