@import url(./variables.css);

.Header{
  box-sizing: border-box;
  width: 100vw;
}

.align-right{
  display: flex;
  flex-direction: row;
  color:#0e0e0e;
  align-items: center;
  margin-right: 13vw;
  margin-left: 87vw;
}

a{
  position:relative;
  text-decoration: none;
  color:var(--blackcolor);
  padding: 5px;  
  margin-right: 0.5vw;
  margin-top: 1vh;
  font-size: 14px;
  }

.Menu-Icon{
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 1vw;
  margin-top: 1vh;
}

.Profile-Icon{
  position: relative;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-top: 1vh;
  margin-right: 1vw;
}